# ignore xspec results
/tests/*report.html
/tests/*result.html
/tests/xspec/

# ignore local documentation
/ECMA376

# ignore local install of Saxon
/SaxonHE*

# ignore local test data
/data

/examples/generated-OfficeOpenXml-workbook.xlsx
/examples/result.xml