<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://saxon.sf.net/ns/configuration"
    label="SOOX - Simple Open Office Xml" edition="PE">
    
    <xsltPackages>
        <package name="soox" version="1.0" sourceLocation="soox.xsl"/>
        <package name="soox:common" version="1.0" sourceLocation="common.xsl"/>
        <package name="soox:spreadsheet" version="1.0" sourceLocation="spreadsheet.xsl"/>
        <package name="soox:utils" version="1.0" sourceLocation="utils.xsl" />
        <!--package name="xlwriter:utils" version="1.0" sourceLocation="utils.xsl" />
        <package name="xlwriter:themes" version="1.0" sourceLocation="themes.xsl" />
        <package name="xlwriter:documentProperties" version="1.0" sourceLocation="docProps.xsl" /-->
        
        <!--package name="http://package.one/" version="1.0" sourceLocation="packageOne.xsl" 
            exportLocation="packageOne.sef"/>
        <package name="http://package.one/" version="2.0-beta" sourceLocation="2.0beta/packageOne.xsl" 
            exportLocation="2.0beta/packageOne.sef"/>
        <package name="http://package.two/" version="8.6.3" sourceLocation="packageTwo.xsl">
            <withParam name="debug" select="true()"/>
            <withParam name="maxTransactions" select="300"/>
        </package-->
    </xsltPackages>  
    
</configuration>
