<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://saxon.sf.net/ns/configuration"
    label="SOOX - Simplify Office Open Xml" edition="PE">
    
    <xsltPackages>
        <package name="soox" version="1.0" sourceLocation="soox.xsl"/>
        <package name="soox:common" version="1.0" sourceLocation="common.xsl"/>
        <package name="soox:spreadsheet" version="1.0" sourceLocation="spreadsheet.xsl"/>
        <package name="soox:utils" version="1.0" sourceLocation="utils.xsl" />
        <package name="soox:opc" version="1.0" sourceLocation="opc.xsl" />
    </xsltPackages>  
    
</configuration>
